

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:75px;   /* Height of the footer */
}
#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:75px;   /* Height of the footer */
  text-align: center;
  font-size: 12px;
}




body {
  background-color: #1d112f;
  color: white;
  font-family: "Open Sans", sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
}



p {

  padding: 18px;

}

hr {
  border-top: 1px solid white;
  /*color: white;*/
}


.header1 {
  font-size:24px; 
  /*margin-top: -20px; 
  margin-bottom: -5px;*/
  margin: 20px 0;
  display: block;
}

.header2 {
  font-size: 18px; 
  font-family: "Open Sans", sans-serif;

  /*text-transform: uppercase;*/
  color: #ddccbb; /*#ddccbb;*//*#ccbb99;*/ /*#dd7c22; *//*#cc9923;*/
  font-weight: 400;
  display: block;
  margin: 10px 0;
  /*
  text-shadow: 1px 1px black;
  background: #172027; /*#7d7165;*/
}

.header3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.error {
  color: #ff0000;
  font-weight: 600;
}

h1, h2, h3, h4 {
  font-family: Verdana, Geneva, sans-serif;
  /*font-family: "Open Sans", sans-serif;*/
  /*font-family: 'Bebas Neue', cursive;*/
  font-weight:700;
  font-variant: small-caps;
  
  color: #ccbb99;
}

code {
  font-size: 16px;
  /*background-color: #99886650;*/
}

.code_label {
  font-family: 'Bebas Neue', cursive;
  color: #dfac36;
}
/*
#fadeDIV {
  animation: mymove 3s infinite;
}
*/
.cell {

    display: flex;
    align-items: center;
    justify-content: center;
    
    float: left;
    /*display: inline-block;*/
    text-align: center;
    width: 240px;
    margin: 5px;
    /*border: 1px solid #000000*/
}


@keyframes mymove {
  50% {text-shadow: 2px 2px 40px #dfac36;}
}

select {
  font-family: "Open Sans", sans-serif; /*monospace;*/
  font-size: 16px;
  /*padding: 0 10%;*/
}
/*
.grid-container {
  position: absolute;
  top: 0;
  bottom: 0;
  grid-auto-rows: 30%;
  grid-column-gap: 3%;
  grid-row-gap: 30%;
}*/


/* Designing all grid */

.timer {
   font-size: 30px;
   padding-top: 30px;
   /*margin-bottom: -30px;*/
}

.grid-container { 
    margin: auto;
    width: 85%;
    display: grid;
    /*display:flex;*/
    grid-gap: 10px; 
    padding: 1px;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    
grid-template-columns: repeat(auto-fill, minmax(100px,600px));/*
grid-template-columns: minmax(150px, 1.33fr) minmax(150px, 2.33fr) minmax(150px, 2.33fr);*/
}
/*
.grid-container {
  display: grid;
  width: 750px;
  height: 600px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 100px;
  grid-gap: 1rem;

}*/
    /*
    grid-template-columns: 1fr 1fr 1fr;*/
    /*
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));*/

#progress-panel {
  height: 240px;
}

/* Designing all grid-items */ 
.grid-container > div { 
    /*display: flex;*/
    border: 1px solid white;
    background-color: #172027; 
    text-align: center; 
    padding-bottom: 20px;
} 
/*
.grid-container {
  align-items: stretch;
}

.grid-container > div {
  display: flex;
  align-items: center;
}*/
/*
.number-container {
  margin: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 80px 80px 80px;
  width: 350px;
}*/

.number-container {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.code-container {
 margin: auto;
  display: grid;
  grid-gap: 10px;
  /*
  grid-template-columns: 1fr 1fr;*/
  /*grid-template-columns: repeat(auto-fit, 500px);*/
  /*grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);*/
 /*grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); *//*minmax(250px,40vw));*/
grid-template-columns: repeat(auto-fill, minmax(250px, 600px));

 /*grid-template-columns: repeat(1, 1fr);*/


  /*
  grid-template-columns: repeat(auto-fit, 80vw);
  */
  /*
  grid-template-columns: repeat(auto-fit, 40%);*/
 width: 85%;
}

.code-container>* {
  /*
  background-color: green;*/
  /*height: 200px;*/
}


.codee-container {
    /*margin: auto;*/


    /*margin: 0 10px;*/
    width: 85%;
    display: grid; 
   /* display: flex;*/
    /*position: fixed;*/
   /* grid-template-columns: auto auto auto; */
    /*grid-template-columns: auto auto;*/
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, 600px);
    /*600px 600px;*/

/*    grid-template-columns: repeat(2, 50vw);*/
/*  grid-template-rows: repeat(2, 20vh);*/
   

  /*  grid-auto-flow: column;*/
    /*



    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    */
    /*
    grid-template-columns: repeat(auto-fill, 600px);*/
    grid-gap: 10px; 
    /*background-color: white;*/
    padding: 1px; 
}


.chart-container { 
    margin: auto;
    width: 85%;
    display: grid;
    /*display:flex;*/
    grid-gap: 10px; 
    padding: 1px;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-template-columns: 1fr 1fr 1fr;*//*
    grid-template-columns: 1fr 1fr 1fr;*/

    grid-template-columns: repeat(auto-fill, minmax(100px,600px));/*
grid-template-columns: minmax(150px, 1.33fr) minmax(150px, 2.33fr) minmax(150px, 2.33fr);*/
}
/*
.grid-container {
  display: grid;
  width: 750px;
  height: 600px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 100px;
  grid-gap: 1rem;

}*/
    /*
    grid-template-columns: 1fr 1fr 1fr;*/
    /*
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));*/


/* Designing all grid-items */ 
.chart-container > div { 
    /*display: flex;*/
    /*
    border: 1px solid white;
    background-color: #172027; 
    text-align: center; 
    padding-bottom: 20px;
    */
} 


/*
.chart-item {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;*/
  /*height: 600px;*/
  /*
}*/

.masonry { 
  /*margin: 0 auto;*/
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  /*margin-left: -8px;*/ /* Adjustment for the gutter */
  width: 100%;
}


.masonry-chart {
  /*margin: 0 auto;*/
   /* flex: auto;*/
  /*height: 60%;*/

  /*min-width: 350px;*/
  /*min-height: 300px;*/
  /*margin: 0 8px 8px 0;*/ /* Some gutter */
  max-width: 600px;
 /* max-height: 600px;*/
  width: 600px;
  /*height: 600px;*/
  /*
  height: 30vw;
  width: 30vw;*/
  /*width: 50vw;*/
}
.masonry-legend {
   /* flex: auto;*/
  /*padding-top: 35px;*/
  /*height: 200px;*/
  /*min-width: 150px;*/
  /*border-radius: 100%;*/
  margin: 0 8px 8px 0; /* Some gutter */
  /*width: 200px;*/
}
/*
.masonry-drop {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 0 8px 8px 0; 
  width: 200px;
}*/

.ch {
 margin: auto;
  display: grid;
  grid-gap: 10px;
  /*
  grid-template-columns: 1fr 1fr;*/
  /*grid-template-columns: repeat(auto-fit, 500px);*/
  /*grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr);*/
 /*grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); *//*minmax(250px,40vw));*/
grid-template-columns: repeat(auto-fill, minmax(800px, 1000px));

 /*grid-template-columns: repeat(1, 1fr);*/


  /*
  grid-template-columns: repeat(auto-fit, 80vw);
  */
  /*
  grid-template-columns: repeat(auto-fit, 40%);*/
 width: 85%;
}
/*
.ch {
  display: grid;

  grid-auto-flow: row;

  grid-template-columns: repeat(auto-fill, 200px);
}*/
/* Grid Column */ 
.half-round-item-1 { 
  /*
    background-color: transparent; 
    background-color: blue;*/
  /*  margin: auto;
    width: 100%;*/
    border-radius:  50px 15px;
    /*grid-row-start: 1;*/
    /*
    grid-column-start: 1; 
    grid-column-end: 3; */
} 

/* Grid row */ 
/*
.item3 { 
    grid-row-start: 2; 
    grid-row-end: 5; 
} 
*/


.rank-item {
  /*
  height: 5fr;
  /*
  grid-column: 4;*/
  /*grid-column-start: 3;*/
  /*
  grid-row-start: 1;
  grid-row-end: 3;*/
}

.item3 {
    grid-column-start: 1; 
    grid-column-end: 3;
}

.puzzle-item {
  background-color: #172027;
  border: 1px solid white;
  border-style: solid;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.codebar-item {
  /*  margin: auto;*/
  background-color: #172027;
  border: 1px solid white;
  border-style: solid;
   display: flex;
    flex-flow: row wrap;

  justify-content: center;
  align-items: center;



 /*   align-items: center;
  justify-content: center;*/
/*
  grid-column-start: 1;
  grid-column-end: 3;
  */
  /*
  min-width: 1213px;
  max-width: 1213px;
  */
  
}


.half-round-item-2 {
  /*
  background-color: #172027;
  border: 1px solid white;
  border-style: solid;*/
  border-radius:  15px 50px; /*100%;*/
  /*
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;*/


}

.full-round-item {
  border-radius:  50px 50px;
}

.input-item {

  /*grid-row-start: 2;*/
  /*  background-color: green; */
 /* height: 200px;*/
/*
  grid-column-start: 1;
  grid-column-end: 3;
*/

  /*
  min-width: 200px;
  max-width: 600px;
  */
}

.blank-item {
  background-color: transparent;
}

.output-item {
/*
grid-row-start: 2;*/
  /*  background-color: green;*/
 /*height: 200px;*/
/*
  grid-column-start: 1;
  grid-column-end: 3;

  */
  /*
  min-height: 100px;
  max-height: 100px;
  */
  
  /*
  min-width: 200px;
  max-width: 600px;
  */
}


.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imageRight {
  float: right;
  padding-bottom: 5px;
  padding-left: 15px;
}

.imageLeft {
  float: left;
  padding-bottom: 5px;
  padding-right: 15px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}


.code-table {
  border: none;
  border-collapse: collapse;
}

.code-td {
  border: none;
}

table, th, td {
  border: 1px solid transparent;
}

table {
  border: 1px solid white;
}

th {
  /*border: 1px solid white;*/
  /*
  font-size: 18px;
  font-weight: 700;
  */
  font-family: "Open Sans", sans-serif;

  /*text-transform: uppercase;*/
  color: #ddccbb; /*#ddccbb;*//*#ccbb99;*/ /*#dd7c22; *//*#cc9923;*/
  font-weight: 400;
  text-shadow: 1px 1px black;
  background: #172027; /*#7d7165;*/
}

th,td{

  text-align:center;
  padding: 5px 0;
}
/*
tr {
  display: flex;
  align-items: stretch;
}*/

tbody tr:nth-child(odd){
  background: #172027;/*#887755;*/
}
tbody tr:nth-child(even){
  background: #273037; /*#aa9977;*/
}



/* Style navigation bar */
ul.nav {
  width: 100%;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #998866;
  overflow: hidden;
}

li.nav {
  float: left;
}

li.nav a {
  text-align:center;
  display: block;
  padding: 8px 12px;
  outline: none;
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}

li.nav a:hover {
  color: white;
  transition: 0.5s;
  background-color:  #dfac36;
}

/*
.panel {
  background-color: #172027;
  width: 300px;
  border: 1px solid white;
  border-style: solid;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 70px;
  padding-left: 70px;
  margin: auto;
  text-align:left;
}
*/
.panel {
  margin: auto;
  background-color: #172027;
  max-width: 450px;
  min-width: 250px;
  border: 1px solid white;
  border-style: solid;
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 20px;
  text-align:left;

}


.code {
  width: 700px;
  font-size: 16px;
}


.panel_style {
  background-color: #172027;
  border: 1px solid white;
  border-style: solid;
}


a {
  color: #eeddbb;
}



input[type=text], input[type=password]/*, input[type=number]*/ {

 /* background-color: #1d112f;
  opacity: 0.85;
  color: white;*/
  width: 100%;
  margin: 5px 0 22px 0;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

/*
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus{
  opacity: 1;
  outline: none;
  border: 2px solid #eeeeee;
}*/
/*
input[type=number] {
  width: 40px;
}*/
.quantity {
  position: relative;
  margin: 0 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 70px;
  height: 52px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 52px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 30px;
  text-align: center;
  color: black;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}





button {
  display: inline-block;
  border-radius: 4px;
  background-color: #998866;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;  
}


button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button:hover {
  background-color: #cc9923;
}


.label {
  font-size: 18px; 
  font-family: "Open Sans", sans-serif;
  color: #ddccbb;
  font-weight: 400;
  display: block;
}


input[type="radio"]{
  margin: 0 10px 0 40px;
}



.round-button {
  box-sizing: border-box;
  display:block;
  width:60px;
  height:60px;
  padding-top: 6px;
  padding-left: 10px;
  /*
  margin: 0px 50px;
  margin-top: 15px;*/
  /*margin-top: 25px;*/
  line-height: 20px;
  border: 2px solid #2adb80; /*lightgreen;*/
  border-radius: 50%;
  color:#2adb80 ; /*lightgreen;*/
  text-align:center;
  text-decoration:none;
  background-color: rgba(0,0,0,0.5);
  font-size:30px;
  font-weight:bold;
  transition: all 0.3s ease;
  cursor: pointer;
}
.round-button:hover {
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px rgba(255,255,100,1);
  text-shadow: 0px 0px 10px rgba(255,255,100,1);
}



.chart_text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  fill: ghostwhite;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  /*height: 100%;*/ /* Full height */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #998866; /*#fefefe;*/
  margin: auto;
  padding: 0;
  /*border: 1px solid #888;
  border: 1px solid black;*/
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  /*border: 15px solid green;*/
  /*height: 50px;*/
  margin: 0px;
  padding: 0px 8px;
  margin-top: -20px;
  margin-bottom: -20px;
  background-color: #998866;
  color: white;
  /*color: white;*/
  /*text-align: center;*/
  font-size: 22px;
}

.modal-body {
  margin: 0px;
 /* margin-bottom:-30px;*/
  padding: 8px 8px;
  background-color: #172027;
}


.modal-footer {
  padding: 0px 8px;
  margin-bottom: 80px;
  background-color: #998866;
  color: white;
  height: 25px;
}

.loader {
  /*float:right;*/
  margin: 0 auto;
  border: 4px solid white; /* Light grey */
  border-top: 4px solid #dfac36; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.image_ul {
  list-style-type: none;
}

.image_li {
  display: inline-block;
}

input[type="checkbox"][id^="image_checkbox"] {
  display: none;
}

.image_label {
  padding: 15px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.image_label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.image_label .check_image {
  height: 50px;
  width: 50px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}
/*
:checked + .image_label {
  border-color: white;
}
*/
:checked + .image_label:before {
  content: "✓";
  background-color: #998866;
  transform: scale(1);
}

:checked + .image_label .check_image {
  transform: scale(0.9);
}
/*
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
}
*/
.progress-container {
  width: 100%;
  /*max-width: 600px;*/
  padding: 0 20px;
  /*padding-right: 20px;*/
  padding-bottom: 40px;
}
.progress-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  /*text-align: right;*/
  width: auto;
  margin-top: 30px;
  margin-bottom: 8px;
  /*margin: 10px 0;*/
}
.progress-bar {
  height: 15px;
  background: #998866;
  border-radius: 8px;
  /*margin: 0 30px;*/
  margin-left: 60px;
  /*margin-top: 150px;*/
  
  /*width: auto;*/
  /*
  left: 100px;
  bottom: 37px;
  position: relative;
  */
  /*margin: 25px 0;*/
}
.progress-per {
  height: 15px;
  background-color: #dfac36;
  border-radius: 8px;
  width: 0;
  position: relative;
  transition: 1s linear;
  /*text-anchor: right;*/
}

.progress-per-text::before {
  content: attr(per);

  /*position: absolute;*/
  position: relative;
  /*text-anchor: right;*/
  /*display: inline-block;*/
  /*width: 100%;*/
  /*text-align: right;*/
  padding: 4px 6px;
  font-size: 18px;
  border-radius: 4px;
  /*
  top: -7px;
  right: 55px;
  */
 /* right: 0;*/
  
}

.progress-text-container {
  /*display: inline-block;*/
  float: left;
  text-align: right;
  margin-top: -22px;
  width: 60px;
  margin-left: -10px;
  /*padding-top: -5px;*/
 /* padding-right: 505px*/
  /*width: 5px;*/
 /* margin-left: 55px;*/
}
/*
.progress-per::after {
  content: "";
  text-align: right;
  position: relative;


  width: 10px;
  height: 10px;
  top: -3px;
  right:  55px;
  border-radius: 2px;
  
}*/


/*
$ease: cubic-bezier(.2,1,.3,1);
 */ 
.pointer {
  width: 30px;
  height: auto;
  /*margin: 0 2rem;*/
  cursor: pointer;
  overflow: visible;
  /*background-color: white;*/
  fill: white;
}
  /*
  polygon, path {
    transition: all 0.5s cubic-bezier(.2,1,.3,1);
  }*/


  .pointer:hover polygon, .pointer:hover path {
    transition: all 1s cubic-bezier(.2,1,.3,1);
    fill: #ffcc56; /*#FF4136;*/
  }
    
  .pointer:hover .arrow {
    animation: arrow-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
  }
  .pointer:hover .arrow-fixed {
    animation: arrow-fixed-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
  }

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}