doctype html

html
	head
		title="race_condition"
		link(href='/stylesheets/main.css' rel='stylesheet')
	body

		div(id="container")

			include ./header.pug


			div(id="body")

				br
				br
				div(class="play")

					div(id="fadeDIV")
						h2(align="center") Game Settings

					form(action="/play", method="POST")

						div(id="fadeDIV")
							h4 Number of Players 
						h5(style="margin-top: -10px; margin-left: 30px")
							em 
								font(color="#998866") (More players &#8594; More points)

						//label(for="num_players")
						input(type="number" id="num_players" name="num_players" min="1" max="8" step="1" value="1")

						//div(class="slidecontainer")
						//	input(type="range" min="1" max="16" value="1" class="slider" id="num_players")

						br
						br
						br
						hr

						div(id="fadeDIV")
							h4 Puzzle Mix
						h5(style="margin-top: -10px; margin-left: 30px")
							em 
								font(color="#998866") (Bigger challenge &#8594; Better reward)

						br
						br
						br
						hr

						div(id="fadeDIV")
							h4 Time Settings
						h5(style="margin-top: -10px; margin-left: 30px")
							em 
								font(color="#998866") (Shorter clock &#8594; Sweeter pot)

						br
						br
						br
						hr

						div(id="fadeDIV")
							h4 Game Value

						script.

							function updateGameValue() {
								var num_players = document.getElementById("num_players").value;
								var game_value = num_players * 5;
								console.log("new game value is", game_value)
							}

							document.getElementById("num_players").addEventListener("change", updateGameValue())

						hr
						br
						br


						button(class="button", style="vertical-align:middle")
							span Start!


						//label.radio-inline
						//	input(type="radio", name="game_type", value=0, checked="")
						//	| Individual
						//	input(type="radio", name="game_type", value=1)
						//	| vs. Friend
						//	input(type="radio", name="game_type", value=2)
						//	| vs. Stranger

						//hr

						//div(id="fadeDIV")
						//	h4 Puzzle Mix
						//label.radio-inline
						//	input(type="radio", name="language", value=0, checked="")
						//	| Python
						//	input(type="radio", name="language", value=1)
						//	| Scheme
						//	input(type="radio", name="language", value=2)
						//	| Randomized

						//hr
						//div(id="fadeDIV")
						//	h4 Difficulty
						//label.radio-inline
						//	input(type="radio" name="difficulty", value=0, checked="")
						//	| Easy
						//	input(type="radio" name="difficulty", value=1)
						//	| Moderate
						//	input(type="radio" name="difficulty", value=2)
						//	| Difficult



			include ./footer.pug