doctype html

html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title="race_condition"
		link(href='/stylesheets/main.css' rel='stylesheet')

	body

		div(id="container")

			div(id="body")
				br
				br
				br

				div(style="max-width:410px; min-width:250px; margin: 0 auto")
					img(src='/images/logo.png' alt='race_condition logo' width="100%")

				br
				br
				br

				div(class="panel" style="max-width: 310px")

					
					h(class="header1" style="text-align: center; font-size: 22px") Welcome to <em>race_condition</em>!
					h(class="header2" style="text-align: center; font-size: 18px; margin-top: -15px") A game of algorithmic artistry.

					br
					br

					button(onclick="window.location.href = '/sign-in'")
							span Sign In

					br
					br

					button(onclick="window.location.href = '/sign-up'")
							span Sign Up


			include ./footer.pug