doctype html

html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title="race_condition"
		link(href='/stylesheets/main.css' rel='stylesheet')

	body

		div(id="container")

			div(id="body")
				br
				br
				br

				img(src='/images/logo.png' alt='race_condition logo' width="450px" class="imageCenter" style="border:1px solid white")

				br
				br
				br

				div(class="panel")

					
					p(style="text-align: center; font-size: 20px") Welcome to race_condition! A game of algorithmic artistry.


					button(onclick="window.location.href = '/sign-in'")
							span Sign In

					br
					br

					button(onclick="window.location.href = '/sign-up'")
							span Sign Up


				



			include ./footer.pug