doctype html

html
	head
		title="race_condition"
		link(href='/stylesheets/main.css' rel='stylesheet')
		script(type='text/javascript' src='https://d3js.org/d3.v5.min.js')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(type='text/javascript' src='/javascripts/leaderboards.js')

	body

		div(id="container")
			include ./header.pug
			
			div(id="body")

				h(class="header1") Top Coders

				div(id="chart" style="max-width: 600px; margin: 0 auto")
					select(id="drop")


			script.
				var most_solved = !{JSON.stringify(most_solved)};
				var most_won = !{JSON.stringify(most_won)};
				init();


			include ./footer.pug