doctype html

html
	head
		title="race_condition"
		meta(name="viewport" content="width=device-width, initial-scale=1")


		//script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")


		//link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
		//link(rel="stylesheet" href="/resources/demos/style.css")

		//link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")

		link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
		//link(rel="stylesheet" href="/resources/demos/style.css")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		//script(src="https://code.jquery.com/jquery-1.12.4.js")
		script(type='text/javascript' src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		script(type='text/javascript' src="/javascripts/number_input.js")
		link(href='/stylesheets/main.css' rel='stylesheet')
		//script(type='text/javascript' type="text/javascript" src="scripts/jquery-1.8.2.min.js")
		//script(type='text/javascript' src="/javascripts/jquery.autocomplete.min.js")


		//link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
		//script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
		script(type='text/javascript' src="/socket.io/socket.io.js")
		script(type='text/javascript' src="/javascripts/play.js")

		//script(src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.2/dist/latest/bootstrap-autocomplete.min.js")




	body

		div(id="container")

			include ./header.pug


			div(id="time_modal" class="modal")
				div(class="modal-content")
					div(class="modal-header")
						span(class="close") &times;
						p Time Attack
					div(class="modal-body")
						div(style="text-align:center")
							button(id="submit_time_game" style="width:200px")
								span Start
					div(class="modal-footer")


			div(id="join_modal" class="modal")
				div(class="modal-content")
					div(class="modal-header")
						span(class="close") &times;
						p Join Game
						//p Waiting for an invitation...
					div(class="modal-body")
						//div(style="align:inline")


						h(class="header1") Waiting for Invitations
						div(class="loader")

						//p


						div(id="invitation_list" style="text-align:center")

						//div(class="loader")
						//p
					div(class="modal-footer")

			div(id="create_modal" class="modal")
				div(class="modal-content")
					div(class="modal-header")
						span(id="join_close" class="close") &times;
						p Create Game
						//p Waiting for an invitation...
					div(class="modal-body")
						//div(class="loader")

						//div(id="fadeDIV")
						//  h3 Languages
						h(class="header1") Languages

						div(style="text-align:center")
							ul(class="image_ul")
								li(class="image_li")
									input(type="checkbox" id="image_checkbox_python" value="Python")
									label(class="image_label" for="image_checkbox_python")
										img(id="python_img" class="check_image" src="/images/python.svg" alt='logo')
								li(class="image_li")
									input(type="checkbox" id="image_checkbox_scheme" value="Scheme")
									label(class="image_label" for="image_checkbox_scheme")
										img(src="/images/scheme.svg" class="check_image" alt='logo')
								li(class="image_li")
									input(type="checkbox" id="image_checkbox_javascript" value="JavaScript")
									label(class="image_label" for="image_checkbox_javascript")
										img(src="/images/javascript.svg" class="check_image" alt='logo')
								li(class="image_li")
									input(type="checkbox" id="image_checkbox_haskell" value="Haskell")
									label(class="image_label" for="image_checkbox_haskell")
										img(src="/images/haskell.svg" class="check_image" alt='logo')

						//div(id="fadeDIV")
						//  h3 Puzzle Mix
						h(class="header1") Puzzle Mix

						div(style="display:inline-block")

							div(class="quantity")
								//label(for="num_easy") Easy:
								input(type="number" id="num_easy" name="num_easy" min="0" max="5" step="1" value="1")

							div(class="quantity")
								//label(for="num_moderate") Moderate:
								input(type="number" id="num_moderate" name="num_moderate" min="0" max="5" value="1")

							div(class="quantity")
								//label(for="num_challenging") Challenging:
								input(type="number" id="num_challenging" name="num_challenging" min="0" max="5" value="1")


						//div(id="fadeDIV")
						//    h3 Opponent
						h(class="header1") Opponent




						div(style="text-align:center")
							//input(type="text" name="username" id="autocomplete")

							div(class="ui-widget")
								//label(for="usernames") Username:
								input(id="usernames" type="text" style="width:200px" placeholder="Enter a username")

						//select(id="new_invite" class="basicAutoSelect" name="simple_select" autocomplete="on" placeholder="Enter a username" data-url="/get-users")

						div(style="text-align:center")
							button(id="submit_game" style="width:200px")
								span Create Game
						div(style="text-align:center" id="create_loader")
							p(id="sent_message")
							div(class="loader")

						p(id="error_message" align="center" class="error")

					div(class="modal-footer")

			div(id="body")


				div(class="panel")

					//div(id="fadeDIV")
					//  h3 Solo
					h(class="header1") Solo

					div(style="text-align:center")
						button(id="time_game" style="width:80%")
							span Time Attack

					//div(id="fadeDIV")
					//  h3 Play with a Friend

					br

					h(class="header1") Play with a Friend

					div(style="text-align:center")
						button(id="create_game" style="width:80%")
							span Create Game

					div(style="text-align:center")
						button(id="join_game" style="width:80%") 
							span Join Game


			include ./footer.pug

		
			script.
				var user = !{JSON.stringify(user)};
				var usernames = !{JSON.stringify(usernames)};
				start_play(user, usernames);