doctype html

html
  head
    title="race_condition"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='/stylesheets/main.css' rel='stylesheet')

    //script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")


    //link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    //link(rel="stylesheet" href="/resources/demos/style.css")

    //link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")

    link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    //link(rel="stylesheet" href="/resources/demos/style.css")


    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

    //script(type="text/javascript" src="scripts/jquery-1.8.2.min.js")
    //script(src="/javascripts/jquery.autocomplete.min.js")


    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/play.js")
    //script(src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.2/dist/latest/bootstrap-autocomplete.min.js")




  body

    div(id="container")

      include ./header.pug


      div(id="join_modal" class="modal")
        div(class="modal-content")
          div(class="modal-header")
            span(class="close") &times;
            p Join Game
            //p Waiting for an invitation...
          div(class="modal-body")
            //div(style="align:inline")


            h(class="header1") Waiting for Invitations
            div(class="loader" style="margin: 0 auto")

            p


            ul(id="invitation_list")

            //div(class="loader")
            //p
          div(class="modal-footer")

      div(id="create_modal" class="modal")
        div(class="modal-content")
          div(class="modal-header")
            span(id="join_close" class="close") &times;
            p Create Game
            //p Waiting for an invitation...
          div(class="modal-body")
            //div(class="loader")

            //div(id="fadeDIV")
            //  h3 Languages
            h(class="header1") Languages

            div(style="text-align:center")
              ul(class="image_ul")
                li(class="image_li")
                  input(type="checkbox" id="image_checkbox_python" value="Python")
                  label(class="image_label" for="image_checkbox_python")
                    img(id="python_img" class="check_image" src="/images/python.svg" alt='logo')
                li(class="image_li")
                  input(type="checkbox" id="image_checkbox_scheme" value="Scheme")
                  label(class="image_label" for="image_checkbox_scheme")
                    img(src="/images/scheme.svg" class="check_image" alt='logo')
                li(class="image_li")
                  input(type="checkbox" id="image_checkbox_javascript" value="JavaScript")
                  label(class="image_label" for="image_checkbox_javascript")
                    img(src="/images/javascript.svg" class="check_image" alt='logo')
                li(class="image_li")
                  input(type="checkbox" id="image_checkbox_haskell" value="Haskell")
                  label(class="image_label" for="image_checkbox_haskell")
                    img(src="/images/haskell.svg" class="check_image" alt='logo')

            //div(id="fadeDIV")
            //  h3 Puzzle Mix
            h(class="header1") Puzzle Mix

            div(style="text-align:center")
              label(for="num_easy") Easy:
              input(type="number" id="num_easy" name="num_easy" min="0" max="5" value="1" style="margin:10px; margin-right:20px")

              label(for="num_moderate") Moderate:
              input(type="number" id="num_moderate" name="num_moderate" min="0" max="5" value="1" style="margin:10px; margin-right:20px")

              label(for="num_challenging") Challenging:
              input(type="number" id="num_challenging" name="num_challenging" min="0" max="5" value="1" style="margin:10px")


            //div(id="fadeDIV")
            //    h3 Opponent
            h(class="header1") Opponent




            div(style="text-align:center")
              //input(type="text" name="username" id="autocomplete")

              div(class="ui-widget")
                //label(for="usernames") Username:
                input(id="usernames" type="text" style="width:30%" placeholder="Enter a username")

            //select(id="new_invite" class="basicAutoSelect" name="simple_select" autocomplete="on" placeholder="Enter a username" data-url="/get-users")

            div(style="text-align:center")
              button(class="button" id="submit_game" style="width:180px")
                span Create Game
            div(style="text-align:center" id="create_loader")
              //br
              p(id="sent_message")
              div(style="display:inline-block" class="loader")

            p(id="error_message" align="center" class="error")

              //p
          div(class="modal-footer")

      div(id="body")


        div(class="panel" style="width:90%")

          //div(id="fadeDIV")
          //  h3 Solo
          h(class="header1") Solo

          button(class="button", style="vertical-align:middle", onclick="window.location.href = '/time-attack'")
            span Time Attack

          //div(id="fadeDIV")
          //  h3 Play with a Friend

          br

          h(class="header1") Play with a Friend

          button(id="create_game" class="button", style="vertical-align:middle")
            span Create Game

          //onclick="window.location.href = '/join-game'")
          button(id="join_game" class="button", style="vertical-align:middle") 
            span Join Game

    
      script.
        var user = !{JSON.stringify(user)};
        var usernames = !{JSON.stringify(usernames)};
        start_play(user, usernames);

      include ./footer.pug