doctype html

html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title="race_condition"
		link(href='/stylesheets/main.css' rel='stylesheet')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(type='text/javascript' src='/javascripts/sign_in.js')
	body

		div(id="container")


			div(id="body")


				br
				br
				br

				div(class="panel")

					h(class="header2" style="text-align:center; font-size: 26px") Sign In



					p(align="center") Welcome to 
						em race_condition!

					form(action="")

						label(for="username" class="label") Username

						input(id="username" name="username" type="text" required)

						label(for="password" class="label") Password

						input(id="password" name="password" type="password" required)

						button
							span Sign In

					p(id="error_message" class="error" align="center")

					br(id="spacing")
					hr
					br


					div(align="center")
						span New user? 
						|
						a(href='/sign-up') Create an account.


			include ./footer.pug