doctype html

html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title="race_condition"

		link(href='/stylesheets/main.css' rel='stylesheet')



	body


		div(id="container")

			include ./header.pug
			div(id="body")
				h(class="header") Sorry, your game has been terminated.

			include ./footer.pug